* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}
.menu-btn {
  cursor: pointer;
  z-index: 2;
  top: 20px;
  right: 30px;
  position: absolute;
  display: none;
}
.container {
  width: 90%;
  margin: auto;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.main-nav {
  background: #fff;
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  align-items: center;
  font-size: 15px;
  margin-bottom: 20px;
  transition: 0.4s ease;
}
.main-nav ul {
  display: flex;
}
.main-nav ul li {
  padding: 0 10px;
}
.main-nav ul li a {
  padding-bottom: 2px;
  color: #1865f2;
  font-size: 1rem;
  font-weight: bold;
}
.main-nav ul li a:hover {
  cursor: pointer;
  opacity: 0.9;
}
.main-nav h1:hover {
  cursor: pointer;
  color: #1865f2;
}
.main-nav .mid-menu {
  align-items: center;
}
.main-nav img {
  width: 70px;
}
.main-nav {
  font-size: 0.8rem;
}
.left-menu {
  align-items: center;
}
input {
  padding: 9px;
  color: #1b65e9;
  background: #e6e3e3;
  border: none;
  outline: none;
  border-radius: 3px;
}
input:hover {
  cursor: pointer;
  opacity: 0.7;
}
.head1 {
  width: 100%;
  height: 100%;
  display: flex;
  padding-bottom: 50px;
  margin-bottom: 20px;
  margin-left: 4rem;
  flex-flow: row wrap;
}
.head1 .info {
  margin: 30px 0 0 30px;
  line-height: 1.3;
  width: 35%;
  padding-top: 30px;
}
.info img {
  width: 100%;
}
.info h1 {
  font-size: 2.7rem;
  color: #21242c;
}
.info p {
  margin: 26px 0 16px;
  width: 140%;
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.head1 .info .btn {
  background: #1865f2;
  color: white;
  border-radius: 5px;
  margin: 4px;
  border: none;
  padding: 11px 40px;
  overflow: none;
  transition: 0.4s ease;
}
.head1 .btn:hover {
  cursor: pointer;
  opacity: 0.7;
}
.head2 {
  background: #e6e3e3;
  height: 100%;
  line-height: 1.9;
  margin-top: 20px;
  padding-bottom: 50px;
  margin-bottom: 20px;
}
.head2 h1 {
  color: #21242c;
  text-align: center;
  font-size: 3rem;
  font-weight: lighter;
  margin: 1rem;
  margin-top: 20px;
  padding-bottom: 50px;
  margin-bottom: 20px;
}
.head2 .container i {
  font-size: 8rem;
  padding: 10px;
  margin-left: 1rem;
}
.head2 .container i:first-child {
  color: #1b65e9;
}

.head2 .container i:nth-child() {
  color: #66d9e8;
}
.head2 .container i:nth-child(3) {
  color: #212529;
}

.head2 .container i:hover {
  opacity: 0.8;
  cursor: pointer;
}
.head2 .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding-bottom: 50px;
  justify-items: center;

  margin-bottom: 20px;
}
.head2 .container > div {
  width: 70%;
  height: 100%;
  line-height: 2rem;
}
.head2 .container h3 {
  font-size: 1rem;
  margin-top: 20px;
  text-align: center;
}
.head3 {
  width: 100%;
  height: 100%;
  display: flex;
  padding-bottom: 50px;
  justify-content: center;
  margin-bottom: 20px;
}
.head3 .info h5 {
  color: #616161;
  letter-spacing: 2.5px;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: lighter;
}
.head3 .info {
  margin: 30px 0 0 30px;
  line-height: 1.3;
  width: 35%;
  padding-top: 30px;
}
.head3 img {
  width: 25%;
  margin-right: 7rem;
}
.info h1 {
  font-size: 2.7rem;
  color: #21242c;
}
.info p {
  margin: 26px 0 16px;
  width: 140%;
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.info .para {
  color: #616161;
  font-size: 1rem;
  font-weight: lighter;
}
.head3 .info .btn {
  background: #1865f2;
  color: white;
  border-radius: 5px;
  margin: 4px;
  border: none;
  padding: 20px 40px;
  font-size: 1.3rem;
  overflow: none;
  transition: 0.4s ease;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.head4 {
  width: 100%;
  height: 530px;
  display: flex;
  padding-bottom: 50px;
  justify-content: center;
  margin-bottom: 20px;
  flex-flow: row wrap;
  padding-top: 3rem;
}
.head4 .info h5 {
  color: #616161;
  letter-spacing: 2.5px;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: lighter;
}
.head4 .info {
  margin: 30px 0 0 30px;
  line-height: 1.3;
  width: 35%;
  padding-top: 30px;
}
.head4 img {
  width: 35%;
  margin-right: 7rem;
}
.head4 .info .btn {
  background: #1865f2;
  color: white;
  border-radius: 5px;
  margin: 4px;
  border: none;
  padding: 20px 40px;
  font-size: 1.3rem;
  overflow: none;
  transition: 0.4s ease;
}
.head5 {
  width: 100%;
  height: 100%;
  background: #e6e3e3;
  padding-bottom: 50px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  padding-top: 3rem;
}
.head5 p {
  width: 80%;
  height: 80%;
  text-align: center;
  color: #21242c !important;
  font-family: "Source Serif Pro", "Noto Serif", serif !important;
  font-size: 1.8rem;
  letter-spacing: 2.2px;
  font-weight: italic;
  margin-top: 100px;
  margin-bottom: 100px;
}
.head5-info {
  display: flex;
  align-items: center;
  justify-items: flex-end;
}
.head5-info img {
  width: 160px;
}
.head5-info h5 {
  color: #444444;
  letter-spacing: 2px;
  font-weight: bold;
  margin-right: 29px;
  font-size: 1rem;
}
.head5-info .desig {
  color: #444444;
  letter-spacing: 1px;
  font-weight: lighter;
  margin-left: 0px;
}
.info .child-para {
  width: 90%;
}

.head6 {
  width: 100%;
  background: url("https://cdn.kastatic.org/images/lohp/last_chance_pattern0.jpg")
    no-repeat center center/cover;
  height: 100%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-top: 3rem;
}
.head6 h1 {
  text-align: center;
  color: #21242c;
  margin-top: 100px;
  font-size: 2rem;
  font-weight: lighter;
  text-transform: uppercase;
}
.head6 > div {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 50px;
}
.head6 .btn {
  background: #1865f2;
  color: white;
  border-radius: 5px;
  margin: 4px;
  border: none;
  padding: 18px 100px;
  margin: 9px;
  font-size: 1.3rem;
  overflow: none;
  transition: 0.4s ease;
}

.head7 {
  width: 100%;
  background: #e6e3e3;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}
.head7 h1 {
  text-align: center;
  color: #2d444e;
  font-size: 2.2rem;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 50px;
}
.head7 .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2.5rem;
  justify-items: center;
  align-items: center;
  align-self: center;
}
.head7 .content img {
  width: 190px;
}
hr {
  margin-top: 50px;
}
hr {
  border: 1px solid #000;
  width: 90%;
  align-self: center;
}
.head7 .content {
  margin-bottom: 80px;
}
footer {
  width: 100%;
  height: 90vh;
  transition: 0.4s ease;
  background: #0a2a66;
  color: white;
}
.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 0 8rem;
  align-self: center;
  justify-content: center;
  padding-top: 50px;
}
.footer-about h3 {
  margin-right: 15rem;
  width: 100%;
  color: #8295ba;
  letter-spacing: 1.9px;
  font-weight: lighter;
  font-size: 1.3rem;
}
.footer-about h3 a {
  color: #fff;
}
footer ul li a {
  color: white;
  line-height: 2.9;
  font-size: 0.7rem;
}
footer ul li a:hover {
  border-bottom: 1px solid white;
}
footer h5 {
  color: #8295ba;
}
footer .outer {
  margin-left: 2rem;
  transition: 0.4s ease;
}
.lang {
  display: flex;
  align-items: center;
  transition: 0.4s ease;
  margin-bottom: 20px;
}
.lang h5 {
  margin-right: 20px;
}
.lang a {
  color: white;
  margin-left: 10px;
}
.lang a:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
}
.country {
  display: flex;
  align-items: center;
  transition: 0.5s ease;
}
.country img {
  margin-left: 20px;
}
.country h4 {
  margin-left: 5px;
  font-size: 0.9rem;
  font-weight: lighter;
}
.country img {
  width: 18px;
}
.country h4:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
}
.follow {
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  font-size: 0.8rem;
  justify-content: space-between;
}
hr {
  border: 1px solid white;
  margin-top: 20px;
  width: 90%;
  align-self: center;
  margin-left: 80px;
}
.terms {
  display: flex;
  margin: 0 15px;
  transition: 0.4s ease;
}
.terms p {
  margin-right: 20px;
}
.terms a {
  color: white;
  margin-right: 10px;
}
.terms a:hover {
  border-bottom: 1px solid white;
}
.socials {
  margin: 0 15px;
  margin-right: 90px;
}
.socials a {
  padding: 4px 2px;
  font-size: 0.8rem;
}
.socials a:hover {
  cursor: pointer;
}

@media (max-width: 700px) {
  .menu-btn {
    display: block;
  }
  .menu-btn:hover {
    opacity: 0.6;
  }
  .main-nav ul.left-menu {
    margin-right: 20px;
  }

  .main-nav ul.mid-menu h1 {
    width: 100%;
    margin-right: 7rem;
    font-size: 16px;
  }
  .main-nav ul.mid-menu .logo {
    width: 60px;
  }
  .main-nav input {
    display: none;
  }

  .main-nav ul.right-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #f2f2f2;
    width: 50%;
    height: 100%;
    transform: translateX(-500px);
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transition: transform 0.4s ease-in-out;
  }
  .main-nav ul.right-menu.show {
    transform: translateX(-20px);
  }
  .main-nav ul.right-menu li {
    padding: 10px;
    line-height: 20px;
    border-bottom: #ccc solid 1px;
    font-size: 17px;
    font-weight: lighter;
  }
  .main-nav ul.right-menu li a {
    color: #262626;
    font-weight: lighter;
    letter-spacing: 1.8px;
    line-height: 1.9;
    transition: 0.4s ease;
  }
  .main-nav ul.right-menu li a:hover {
    border-bottom: 2px solid #1865f2;
  }

  .head1 {
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin-bottom: 10px;
  }
  .head1 img {
    width: 69%;
    margin-bottom: 50px;
  }
  .head1 .info {
    width: 80%;
    margin-left: 1rem;
  }
  .head1 .info h1 {
    font-size: 2rem;
  }
  .head1 .info p {
    font-size: 1rem;
    width: 85%;
  }
  .btn {
    width: 100%;
    height: 10%;
  }
  .head2 .container {
    grid-template-columns: 1fr;
  }
  .head2 h1 {
    font-size: 1.9rem;
  }
  .head3 {
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 300px;
  }
  .head3 img {
    width: 69%;
  }
  .head3 .info {
    width: 80%;
    margin-left: 2rem;
  }
  .head3 .info h1 {
    font-size: 2rem;
  }
  .head3 .info p {
    font-size: 1rem;
    width: 85%;
  }
  .btn {
    width: 100%;
    height: 10%;
  }
  .head4 {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .head4 img {
    width: 90%;
  }
  .head4 .info {
    width: 80%;
    margin-left: 2rem;
  }
  .head4 .info h1 {
    font-size: 1.5rem;
  }
  .head4 .info h5 {
    font-size: 1rem;
  }
  .head4 .info p {
    font-size: 1rem;
    width: 85%;
  }
  .head5 {
    flex-direction: column;
  }
  .head5 p {
    font-size: 1.3rem;
    width: 90%;
  }
  .head5-info img {
    width: 80px;
  }
  .head5 .info {
    padding-right: 30px;
    font-size: 0.8rem;
  }
  .head6 {
    background: none;
  }
  .head6 h1 {
    font-size: 1.8rem;
  }

  .head7 .content {
    grid-template-columns: repeat(1, 1fr);
  }
  .head7 .content2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .head7 .content img {
    width: 150px;
  }
  .head7 .content2 img {
    width: 150px;
  }
  hr {
    margin-right: 6rem;
  }
  footer {
    height: 110%;
  }
  footer .footer-about {
    grid-column: 1/-1;
    width: 130%;
    height: 60%;
    margin-bottom: 20px;
  }
  footer .footer-links {
    grid-column: 1/2;
    width: 100%;
    margin-right: 1rem;
  }
  .courses {
    grid-column: 2/5;
  }
  .footer-contact {
    display: none;
  }
}

@media (max-width: 500px) {
  .head7 .content2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .head7 h1 {
    font-size: 2.5rem;
  }
  .terms {
    line-height: 1.9;
    text-align: center;
  }
  .terms,
  a {
    width: 100%;
    display: block;
  }
  .socials a {
    display: none;
  }
  hr {
    width: 70%;
  }
}
